@import 'normalize.less';
@import 'mixin.less'; 
@import 'grid.less';


/* ==|== variables ===================================================== */
    
	//Grid
	@column-width: 40;
	@gutter-width: 20;
	@columns: 16;
	
	
* { box-sizing: border-box }

.hide {
    display: none;
}

body {font-family: sans-serif;}
h1 { font-family: 'Rum Raisin'; font-size: 56px; margin-bottom: 24px; font-weight: bold; }
fieldset { margin-bottom: 24px; font-size: 17px; }
legend { margin-bottom: 0.75em; font-size: 22px; font-weight: bold;}
button, input[type=button], input[type=submit] { border: 3px solid #fff; background: #555; color: #fff; }

#container { width: 96%;	
	max-width: 920px;
	margin: auto;
	padding: 2%;
	position: relative; 
}

#challengeSetup {
    padding: 1em;
    background: #ddd;
    margin-bottom: 2em;
    
    button { padding: 0.25em 0.5em; font-size: 1em; font-weight: bold; }
}

#challengeArea {
	ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    
	    li {
		    width: 180px;
		    float: left;
		    margin-bottom: 0.5em;
		}
		.answer {
		    width: 70px;
		    margin-right: 35px;
		    float: right;
		}
		.answer:focus {
			border: 1px solid #ff5555;
			background: #ddd;
		}
		.answer.correct {
			background: green;
			color: #fff;
		}
	}
}

#result { 
	text-align: center; 
	border: 5px solid green; 
	padding: 1em; 
	margin-bottom: 2em;
	
	span {vertical-align: middle; }
	.grade { font-size: 150px; font-weight: bold; }
	.outOf {font-style:italic; font-size: 20px; padding: 0 1em; }
	.totalQuestions { font-size: 150px; color: #333; }
}

#actionBar { 
	height: 4em; position: fixed; bottom: 0; right: 0; width: 100%; background: #333; opacity: 0.8; padding: 1em;
	
	.timer { color: #fff; margin-left: 40px; margin-top: 5px; font-weight: bold; font-size: 18px; }
	.timer .count { font-weight: normal; }
	button { position: absolute; top: 0.5em ; right: 0.5em; font-size: 1.6em; font-weight :bold; }
}