@import 'mixin.less'; 

//Colours
	@black:       			#111619;
	@black_header:          #292E30;
	@white_bg: 				#FFFFFF;
	@grey_bg: 				#F8F8F8;
	@grey_text: 			#414547;
	@grey_header:           #595C5E;
	@grey_breadcrumb:       #707375;
	@grey_border:           #CFD0D1;
	@grey_footer_links:     #888A8C;
	@black_header:          #111619;
	@white_text:            #FFFFFF;
	@blue_link:             #4295A8;
	@blue_link_hover:       lighten(@blue_link, 10%);
	@form_border:           #E8E8E8;

@media (max-width: 480px) {
	body{
		min-width:320px;
	}
	.inner{
		width:100%;
		padding:0px 15px;
	}
	.mobile_show{
		display:block !important;
	}
	.mobile_hide{
		display:none !important;
	}

	#main-header{
		height:160px;
		padding-top:10px;
		overflow:hidden;
	}
	#top-logo{
		float:none;
		margin:0 auto;
	}
	#top-navigation{
		position:relative;
		top:auto;
		right:auto;
		text-align:center;
		margin-bottom:15px;
		.clearfix;
	}
	.site-navigation{
		clear:left;
	   float:left;
	   position:relative;
	   left:50%;
	   text-align:center;
		> li{
			display:block;
		   float:left;
		   list-style:none;
		   margin:0;
		   padding:0;
		   margin-right:10px;
		   position:relative;
		   right:50%;
		   &:last-child{
		   	margin-right:0;
		   }
		}
	}
	ul.drop-out{
		display:block;
	}
	#top-search{
		bottom:-45px;
		left:15px;
		right:15px;
		width:auto;
	}
	#tag-line{
		display:none;
	}
	ul#shop-navigation{
		height:48px;
		.transition;
		overflow:hidden;
		padding:0 10px;
		&.open{
			min-height:485px;
			height:auto;
			.transition;
		}
		> li{
			float:none;
			margin-right:0;
			&.mobile{
				> a:hover{
					border-color:transparent;
				}
			}
		}
	}
	ul.drop-out{
		position:relative;
		top:0;
		right:0;
		padding-bottom:0;
		> li{
			text-align:left;
		}
	}
	#product{
		width:100%;

	}
	#product-images{
		width:100%;
		margin-right:0;
	}
	#image-thumbs{
		ul{
			> li{
				
				img{
					
				}
			}
		}
	}
	#product-content{
		margin-left:0;
		clear:both;
		margin-top:30px;
		width:100%;
		height:auto;
		#product-info{
			width:100%;
			border:none;
			padding:0;
			height:auto;
		}
		header{
			height:auto;
			h1{
				padding:0;
			}
		}
		footer{
			padding:0;
			#price{
				left:0;
			}
			#basket-add{
				right:0;
			}
		}
	}
	#products-aside{
		margin-left:0;
		width:100%;
		clear:both;
		margin-top:20px;
		padding-top:20px;
		border-top:1px solid @grey_border;
		ul{
			> li{
				width:31%;
				margin-right:3.5%;
				img{
					width:100%;
				}
			}
		}
	}
	#bottom-signup{
		form{
			width:100%;
			text-align:center;
		}
		label{
			margin-top:0;
			margin-bottom:5px;
			float:none;
		}
		input[type="email"], input[type="text"]{
			//margin-right:0;
			margin-top:10px;
			width:70%;
			float:none;
		}
		input[type="submit"]{
			margin-top:17px;
			float:none;
		}
	}
	#main-footer{
		overflow:hidden;
	}
	.column-2, .column-3{
		width:100%;
		margin:0;
		margin-bottom:20px;
		text-align:center;
	}
	ul.footer-links {
		clear:left;
	   float:left;
	   position:relative;
	   left:50%;
	   text-align:center;
		> li{
			display:block;
		   	float:left;
		   	list-style:none;
		   	margin:0;
		   	padding:0;
		   	margin-right:10px;
		   	position:relative;
		   	right:50%;
		   	margin-right:5px;
			padding-right:5px;
			border-right:1px solid @grey_border;
			&:last-child{
				border-right:none;
			}
			> a{

			}
		}
	}
	#bottom-logo, #bottom-payment-logos{
		position:relative;
		top:auto;
		right:auto;
		margin:0 auto;
		clear:both;
	}
	#bottom-payment-logos{
		margin-bottom:20px;
	}

}